__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
*.log
.git
.gitignore
.DS_Store
*.md
.vscode
.idea
Frontend/Graphics/*.gif
Frontend/Graphics/*.png
Data/*.json
Data/*.txt
Data/*.mp3
Data/*.jpg

